img {
    width: 200px;
}

.header-style {
    background-color: violet;
    padding: 8px;
}

.footer-style {
    background-color: violet;
    padding: 4px;
}

/* Estilos globales*/
* {
    text-align: center;
    font-family: Calibri;
    font-size: 16px;
    max-width: 1200px;
}
/* Fin de Estilos globales*/
.titulo {
    color: deeppink;
    font-size: 30px;
}

.titulo2 {
    color: rgb(10, 207, 10);
    font-size: 25px;
}
/* Estilos de lista*/
ul {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    border: 6px inset rgb(47, 231, 255) ;
    border-radius: 50%;
    background-color: lawngreen;
    width: 200px;
}

a {
    color: white;
}

span {
    color: orangered;
}

.facebook {
    color: red;
}

.fa-facebook-square {
    color: red;
}

.instagram {
    color: green;
}

.fa-instagram-square {
    color: green;
}

.twitter {
    color: blue;
}

.fa-twitter-square {
    color: blue;
}

.linkedin {
    color: green;
}

.fa-linkedin {
    color: green;
}
/* Fin de Estilos de lista*/

main {
    background: rgb(238, 214, 206);
    padding: 20px;
    width: 70%;
    margin: auto; 
}

p {
    width: 50%;
    margin: auto;
}