/* Estilos globales*/
body {
    text-align: center;
    font-family: Calibri;
    font-size: 19px;
    max-width: 1200px;
    margin: 0 auto;
}
.header-style {
    background-color: violet;
    padding: 10px;
}
.footer-style {
    background-color: violet;
    padding: 10px;
}
main {
    background: rgb(238, 214, 206);
    padding: 20px;
    width: 60%;
    margin: auto; 
}
/* Fin de Estilos globales*/
/*Contenedor principal*/
img {
    width: 200px;
}
a {
    color: white;
}
.titulo {
    color: deeppink;
}

p {
    width: 50%;
    margin: auto;
}
span {
    color: orangered;
}
.titulo2 {
    color: rgb(10, 207, 10);
}
/*Fin contenedor principal*/
/* Estilos de lista*/
ul {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    border: 6px inset rgb(47, 231, 255) ;
    border-radius: 50%;
    background-color: lawngreen;
    width: 200px;
}
.facebook {
    color: red;
}
.fa-facebook-square {
    color: red;
}
.instagram {
    color: green;
}

.fa-instagram-square {
    color: green;
}

.twitter {
    color: blue;
}

.fa-twitter-square {
    color: blue;
}

.linkedin {
    color: green;
}

.fa-linkedin {
    color: green;
}
/* Fin de Estilos de lista*/
/*Seccion de Operaciones*/
#toggleBloque {
    display: block;
    border-radius: 16px;
    background: blueviolet;
    border: 6px solid rgb(209, 38, 158);
    color: #fff;
    cursor: pointer;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.operaciones {
    margin: 20px 0;
}
.operaciones button {
    margin: 0 5px;
    border-radius: 50px;
    padding: 6px;
    border: 3px solid rgb(61, 189, 11);
    cursor: pointer;
    background: rgb(34, 212, 243);
    font-style: italic;
    font-weight: bold;
}
#operacionesContenedor {
    /*display: none; */
    padding: 20px 0;
}
input {
    border: none;
    width: 100px;
    height: 20px;
    cursor: text;
}
label {
    color: rgb(25, 12, 207);
    font-weight: bold;
}
/* Fin Seccion Operaciones */
